PREFIX akt:  <http://www.aktors.org/ontology/portal#>

SELECT DISTINCT ?date ?author
FROM <http://dig.csail.mit.edu/2008/webdav/timbl/foaf.rdf>
WHERE { 
  SERVICE <http://acm.rkbexplorer.com/sparql> { 
  <http://acm.rkbexplorer.com/id/864535> akt:has-date ?date.
  <http://acm.rkbexplorer.com/id/864535> akt:has-author ?author_link.
  ?author_link akt:full-name ?author.
  }
}